body {
  font-family: 'Cardo', serif;
  font-size: 18px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.cardo {
  font-family: 'Cardo', serif;
}

.archivo-black,
.text-content h3 {
  font-family: 'Archivo Black', sans-serif;
}

.archivo {
  font-family: 'Archivo', sans-serif;
}

.tenor {
  font-family: 'Tenor Sans', sans-serif;
}

.hero-heading,
.hero-subheading {
  font-size: 64px;
}

.hero-heading {
  letter-spacing: 0.05em;
}

.hero-content {
  max-width: 750px;
}

.text-content h3 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 0;
}

.line {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  background-color: #1c1c1c;
}

.gallery-image img {
  width: auto !important;
  height: auto !important;
}

.caption {
  max-width: 870px;
}
