body {
  font-family: 'Cardo', serif;
  font-size: 18px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.cardo {
  font-family: 'Cardo', serif;
}

.archivo,
.text-content h3 {
  font-family: 'Archivo Black', sans-serif;
}

.tenor {
  font-family: 'Tenor Sans', sans-serif;
}

.hero-heading,
.hero-subheading {
  font-size: 64px;
}

.hero-heading {
  letter-spacing: 0.05em;
}

.hero-content {
  max-width: 750px;
}

.text-content h3 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 0;
}
